Repository WishPool-dev/WishPool-FE, pull requests merged in 2025-10, with the labels that each got.

#103 form 구현 방법 수정
  src/app/feedback/page.tsx
  src/app/wishpool/(builder)/create/page.tsx
  src/app/wishpool/(builder)/create/step1/page.tsx
  src/app/wishpool/(builder)/create/step2/page.tsx
  src/app/wishpool/(builder)/create/step3/page.tsx
  src/app/wishpool/(builder)/create/step4/page.tsx
  src/app/wishpool/(builder)/intro/page.tsx
  src/app/wishpool/(builder)/preview/page.tsx
  src/app/wishpool/(viewer)/[id]/edit/page.tsx
  src/app/wishpool/(viewer)/invite/page.tsx
  src/app/wishpool/join/([id])/add/page.tsx
  src/app/wishpool/join/([id])/name/page.tsx
  src/components/common/Calendar.tsx
  src/components/common/Form/BaseInput.tsx
  src/components/common/Form/BasicInputField.tsx
  src/components/common/Form/CalendarField.tsx
  src/components/common/Form/GiftField.tsx
  src/components/common/Form/TextField.tsx
  src/components/common/Form/ThumbnailField.tsx
  src/components/wishpool/builder/create/ButtonContainer.tsx
  src/components/wishpool/builder/create/ProgressBar.tsx
  src/components/wishpool/builder/create/step/Step1.tsx
  src/components/wishpool/builder/create/step/Step2.tsx
  src/components/wishpool/builder/create/step/Step3.tsx
  src/components/wishpool/builder/create/step/Step4.tsx
  src/constants/common/path.ts
  src/constants/wishpool/create/steps.ts
  src/types/wishpool/builder/Form.ts
  src/types/wishpool/builder/stepProps.ts
Labels: ✨ Feature, 🍑 해연

#104 [Feat] 이미지 API 연결
  next.config.ts
  src/api/domain/detail/hooks.ts
  src/api/domain/detail/index.ts
  src/api/domain/detail/types.ts
  src/app/wishpool/(viewer)/[id]/(detail)/page.tsx
  src/app/wishpool/(viewer)/[id]/gifts/page.tsx
  src/app/wishpool/history/page.tsx
  src/app/wishpool/join/([id])/gifts/page.tsx
  src/components/wishpool/viewer/list/ItemCard.tsx
  src/constants/common/queryKey.ts
  src/types/common/wishpoolType.ts
Labels: ✨ Feature, 🍓 새봄

#107 [Feat] 마이 페이지 API 연결
  src/api/domain/detail/hooks.ts
  src/api/domain/detail/index.ts
  src/api/domain/mypage/hooks.ts
  src/api/domain/mypage/index.ts
  src/api/domain/mypage/types.ts
  src/app/mypage/page.tsx
  src/app/wishpool/(viewer)/[id]/(detail)/page.tsx
  src/app/wishpool/(viewer)/[id]/gifts/page.tsx
  src/components/ReactQueryProvider.tsx
  src/components/common/Modal/CenterModal.tsx
  src/components/common/Modal/EditModal.tsx
  src/components/layout/Header/DetailHeader.tsx
  src/components/mypage/Profile.tsx
  src/constants/common/endPoint.ts
  src/constants/common/queryKey.ts
  src/hooks/common/useGetWishpoolId.ts
Labels: 📬 API, 🍓 새봄

#111 [Feat] 선물 선택 api 연결
  src/api/domain/pick/hooks.ts
  src/api/domain/pick/index.ts
  src/api/domain/pick/types.ts
  src/app/funding/list/data.ts
  src/app/funding/list/page.tsx
  src/app/funding/preview/data.ts
  src/app/funding/preview/page.tsx
  src/app/funding/select/data.ts
  src/app/not-found.tsx
  src/app/pick/complete/layout.tsx
  src/app/pick/complete/page.tsx
  src/app/pick/intro/layout.tsx
  src/app/pick/intro/page.tsx
  src/app/pick/invite/layout.tsx
  src/app/pick/invite/page.tsx
  src/app/pick/list/layout.tsx
  src/app/pick/list/page.tsx
  src/app/pick/preview/layout.tsx
  src/app/pick/preview/page.tsx
  src/app/pick/select/layout.tsx
  src/app/pick/select/page.tsx
  src/app/wishpool/(viewer)/[id]/(detail)/page.tsx
  src/app/wishpool/(viewer)/[id]/gifts/page.tsx
  src/app/wishpool/(viewer)/[id]/invite/layout.tsx
  src/app/wishpool/(viewer)/[id]/invite/page.tsx
  src/app/wishpool/(viewer)/final/page.tsx
  src/assets/images/error.png
  src/components/common/DataError.tsx
  src/components/common/EventCard.tsx
  src/components/pick/list/GiftCard.tsx
  src/components/pick/select/CarouselCard.tsx
  src/components/pick/select/GiftLoading.tsx
  src/components/pick/select/SwipeGuide.tsx
  src/constants/common/endPoint.ts
  src/constants/common/path.ts
  src/constants/common/queryKey.ts
  src/hooks/pick/useCarouselCard.ts
  src/hooks/pick/useDeleteCard.ts
  src/hooks/pick/useGetChosenUrl.ts
  src/utils/wishpool/viewer/getFooterContent.ts
Labels: ✨ Feature, 📬 API, 🍓 새봄
